@font-face {
    font-family: Formula1;
    src: url(../fontlg/Formula1-Bold_web_1.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

html{
    font-size: 65.5%;
}


:root{
    --text-color:black;
    --main-color: rgb(71, 71, 161);
}


.header {
    width: 100%;
    height: 125px;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9.5%;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5),
    0 0 10px rgba(190, 190, 190, 0.5);
    z-index: 111;
    transition: 0.4s ease;
    background:grey;
    
}

.header.sticky{
    padding: 15rex 9.5%;
}

.header .logo img {
    width: 200px;
}

.header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14rem;
}

nav .navbar .navbarlinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    left: 6%;
    position: relative;
}

nav .navbar .navbarlinks li a {
    font-size: 2.0rem;
    color: var(--text-color);
    font-weight: 600;
    position: relative;
}

nav .navbar .navbarlinks li a:hover {
    font-size: 2.5rem;
    
}

nav .others {
    display: flex;
    align-items: center;
    gap: 2.0rem;
}

nav .others i{
    font-size: 2.0rem;
    color: var(--text-color);
    cursor: pointer;
}

nav .others i:hover{
    font-size: 2.5rem;
    
}

nav .others .addBtn{
    position: relative;
    color: white;
    background: var(--main-color);
    padding: 1.5rem 1.7rem;
    font-size: 1.6rem;
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0,7s;
    font-family: 'Times New Roman';

}

nav .others .addBtn:hover{
    background: var(--text-color);
}

nav .others .addBtn i,
nav .others .addBtn i:hover{
    color: white;
    
}

@media(max-width:1550px){
  nav .navbar .navbarlinks{
    gap: 9rem;
  }
}


@media(max-width:1500px){
  nav .navbar .navbarlinks{
    gap: 8rem;
  }
}

@media(max-width:1230px){
    nav .navbar ul li{
        padding: 2.5rem 0;
    }

    nav .others{
        gap: 1rem;
    }

    nav .navbar .navbarlinks{
        gap: 0.5rem;
    }

@media(max-width:1190px){
    nav .others .addBtn{
        display: none;
    }
}

@media(max-width:1230px){
    nav .navbar .navbarlinks{
        position: absolute;
        top: 12rem;
        width: 100%;
        display: block;
        left: 0px;
        background: rgb(164, 163, 163);
        box-shadow: 0 0 5px rgba(190, 190, 190, 0.5), 0 0 10px rgba(190, 190, 190, 0.5);
        padding-left: 20px;
        transition: 0.5s ease-in-out;
        display: none;
    }

    nav .navbar .navbarlinks.active{
        display: block;
    }

}
}

@media(max-width:1420px){
    .header .logo img {
         width: 170px;
         right: 30%;
         position: relative;
    }
 }



@media(max-width:1420px){
    nav .others i.cart{
        display: none;
    }

    nav .others .addBtn{
        display: none;
    }
    
}

.container {
    text-align: center;
    margin-top: 50px;
}

.options {
    text-align: center;
    margin-top: 20px;
}



  /* login/register */
  .wrapper {
    position: relative;
    width: 400px;
    height: 390px;
    margin-left: 38.5%;
    margin-top: 8%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  @media(max-width:1200px){
    .wrapper{
      right: 6%;
      margin-top: 10%;
    }
  }

  @media(max-width:840px){
    .wrapper{
      right: 14%;
      margin-top: 12%;
    }
  }

  @media(max-width:680px){
    .wrapper{
      right: 23%;
      margin-top: 12%;
    }
  }

  @media(max-width:500px){
    .wrapper{
      right: 27%;
      margin-top: 12%;
    }
  }


  .wrapper .form-box {
    width: 100%;
    padding: 40px;
  }

  
  .form-box h2 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
  }

  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
  }

  .input-box label {
    position: absolute;
    top: 20%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
    color: white;
  }
  

  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
    padding: 15px 35px 0 5px;
  }

  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.5em;
    color: white;
    line-height: 57px;
    padding-top: 1.5%;
  }

  .remember-forgot {
    font-size: 1.55rem;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

  }

  .remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
  }

  .remember-forgot a {
    color: white;
    text-decoration: underline;
    font-size: 1.55rem;
  }

  .btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Times New Roman';
    font-weight: bold;
  }

  .btn:hover {
    color: black;
    background: rgb(13, 211, 247);
  }

  .login-register {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }

  .login-register p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.55rem;
  }

  .login-register p a:hover{
    text-decoration: underline;

  }

  .wrapper2 {
    position: relative;
    width: 400px;
    height: 470px;
    margin-left: 38.5%;
    margin-top: 8%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  @media(max-width:1200px){
    .wrapper2{
      right: 6%;
      margin-top: 10%;
    }
  }

  @media(max-width:840px){
    .wrapper2{
      right: 14%;
      margin-top: 12%;
    }
  }

  @media(max-width:680px){
    .wrapper2{
      right: 23%;
      margin-top: 12%;
    }
  }

  @media(max-width:500px){
    .wrapper2{
      right: 27%;
      margin-top: 12%;
    }
  }


  .wrapper2 .form-box {
    width: 100%;
    padding: 40px;
  }




  