@font-face {
    font-family: Formula1;
    src: url(../fontaboutus/Formula1-Bold_web_0.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

html{
    font-size: 65.5%;
}

body{
  overflow-x: hidden;
  font-family: Formula1;
}


:root{
    --text-color:black;
    --main-color: rgb(71, 71, 161);
}


.header {
  width: 100%;
  height: 125px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 9.5%;
  z-index: 111;
  transition: 0.4s ease;
  font-family: Formula1;
  position: relative;
}

.header.sticky{
  padding: 15rex 9.5%;
}

.header .logo img {
  width: 200px;
  position: relative;
  transition: 0.4s;
}

.header nav{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
}

nav .navbar .navbarlinks{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  left: -6%;
  position: relative;
  transition: 0.4s;
}

nav .navbar .navbarlinks li a {
  font-size: 1.7rem;
  color: white;
  font-weight: 600;
  position: relative;
  transition: 0.3s;
  font-family: Formula1;
}

nav .navbar .navbarlinks li a::after{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 100%;
  left: 0;
  background-color: rgb(200, 215, 255);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

nav .navbar .navbarlinks li a:hover::after{
  transform: scaleX(1);
}

nav .navbar .navbarlinks li a:hover{
  color: rgb(255, 176, 176);
}

nav .others #menuBtn {
  display: none;
}


nav .others {
  display: flex;
  align-items: center;
  left: 5%;
  position: relative;
  transition: 0.4s;
}

nav .others i{
  font-size: 2.0rem;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

nav .others i:hover{
  color: darkgray;
  
}

nav .others .addBtn i{
  color: black;
}

nav .others .addBtn{
  position: relative;
  color: black;
  background: white;
  padding: 1.5rem 1.7rem;
  font-size: 1.2rem;
  left: 0%;
  border-radius: 14px;
  font-weight: 600;
  cursor: pointer;
  font-family: Formula1;
  transition: 0.4s;
  width: 150%;
  display: flex;
}

nav .others .addBtn:hover{
  background: lightsalmon;
  color: black;
}


@media(max-width:1200px){
  nav .navbar ul li{
      padding: 2.5rem 0;
  }

  nav .others{
      gap: 1rem;
  }

  nav .navbar .navbarlinks{
      gap: 0.5rem;
  }
}

@media(max-width:1300px){
  nav .others .addBtn{
      display: none;
  }
}

@media(max-width:1600px){
  nav .others .addBtn{
      left: -90%;
      position: relative;
  }

  nav .navbar .navbarlinks{
      left: -15%;
      gap: 8rem;
      position: relative;
  }
}

@media(max-width:1600px){
  .fun:hover input{
      width: 50px;
      
  }
}

@media(max-width:1200px){
  nav .navbar .navbarlinks{
      position: absolute;
      top: 12rem;
      display: block;
      left: 0px;
      padding-left: 40%;
      padding-right: 40%;
      width: 100%;
      transition: 0.5s ease-in-out;
      display: none;
      background-color: rgb(255, 255, 255);  
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(248, 247, 247, 0.5);
  }

  nav .others .addBtn{
      display: block;
      left: 30%;
      position: relative;
      transition: 0.4s;
      width: 100%;
  }

  nav .navbar .navbarlinks.active{
      display: block;
      transition: 0.5s ease-in-out;
      font-family: Formula1;
  }
  

  nav .others #menuBtn {
      display: block;
      color: rgb(0, 0, 0);
      transition: 0.4s;
  }

  nav .others #menuBtn:hover{
      color: lightsalmon;
  }

  nav .navbar .navbarlinks li a {
      text-align: center;
      display: flex;
      transition: 0.5s ease-in-out;
      justify-content: center;
      color: rgb(0, 0, 0);
  }

  .header{
      background-color: rgb(150, 150, 150);
      box-shadow: 0 0 5px rgba(190, 190, 190, 0.5), 0 0 10px rgba(190, 190, 190, 0.5);
      max-width: 100%;
      animation:ease-in-out;
  }

}


@media(max-width:1600px){
  .header .logo img {
       width: 170px;
       left: -30%;
       position: relative;
  }
}



@media(max-width:1300px){
  nav .others i.cart{
      display: none;
      opacity: 0;
      transition: opacity 0.3s ease;
  }
}

@media(max-width:1420px){
  .fun:hover input{
      width: 100px;
      
  }
}

@media(max-width:1300px){
  .fun:hover input{
      width: 50px;
      
  }

  .fun{
      right: 20px;
      position: relative;
  }
}


@media(max-width:1200px){
  .fun:hover input{
      width: 200px;
      
  }
  
}

@media(max-width:1200px){
  nav .others #menuBtn {
      right: -70px;
      position: relative;
      transition: 0.4s;
}

.fun{
  right: -50px;
  position: relative;
}
}



@media(max-width:700px){
  .fun:hover input{
     width: 100px;
  }
  
}

@media(max-width:600px){
  .fun:hover input{
     width: 50px;
  }

  .fun{
      right: 10px;
      position: relative;
  }

  nav .others #menuBtn {
      right: -10%;
      position: relative;
      transition: 0.4s;
  }

  nav .others .addBtn{
      left: -5%;
      width: 150px;
      position: relative;
  }
 
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Formula1';
  font-weight: bold;
}

.btn:hover {
  color: black;
  background: rgb(13, 211, 247);
}

.right-links{
  display: flex;
  padding-left: 0%;
  transition: 0.4s;
}

.right-links button{
  width: 100px;
  height: 50px;
  bottom: 20%;
  position: relative;
  transition: 0.4s;
}

.right-links .btn{
  font-size: 15px;
  transition: 0.4s;
}

.right-links .pro{
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: Formula1;
  margin-top: 20px;
  margin-left: -40%;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  display: flex;
  white-space: nowrap;
  transition: 0.4s;
}

.right-links a{
  padding: 0% 5%;
  color: white;
  font-family: Formula1;
  transition: 0.4s;
}

.right-links a:hover{
  color: black;
}



/*about us img1*/
  
.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

a {
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.responsive-container-block.bigContainer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 50px 10px 50px;
}

.mainImg {
  color: black;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.stars {
  max-height: 15vh;
  bottom: 30%;
  padding-left: 0%;
  padding-right: 30%;
  position: relative;
  transition: 1.0s;
}

.text-blk.headingText {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: white;
  padding-top: 0px;
  padding-right: 5%;
  padding-bottom: 0px;
  padding-left: 5%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  top: -10px;
  position: relative;
  text-align: center;
  justify-content: center;
  transition: 1.0s;
  width: 100%;
}

.allText {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 40%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
}

.text-blk.subHeadingText {
  color: white;
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
  top: -5px;
  position: relative;
  transition: 1.0s;
}

.text-blk.description {
  font-size: 18px;
  line-height: 26px;
  color: white;
  margin-top: 0px;
  margin-right: 40%;
  margin-bottom: 50px;
  margin-left: 6%;
  font-weight: 400;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  align-items: center;
  transition: 1.0s;
  width: 100%;
  justify-content: center;
}

.text-blk.description .instagram{
  
  margin-left: -80px;
}

.text-blk.description .instagram u {
  text-decoration: underline;
  left: 5%;
  top: -4px;
  position: relative;
  width: 100%;
}

.text-blk.description .phone{
  margin-left: 8%;
}

.text-blk.description .phone u {
  text-decoration: underline;
  left: 5%;
  top: -4px;
  position: relative;
}


.purpleBox:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(176, 98, 255);
  color: white;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.allText.bottomText:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(176, 98, 255);
  color: white;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.responsive-container-block.Container {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
  flex-direction: row-reverse;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  position: static;
  transition: 1.0s;
}

.allText.aboveText {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.allText.bottomText {
  margin-top: 0px;
  margin-right: 70px;
  margin-bottom: 190px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 2%;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
  background-color: rgb(51, 10, 10);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 225px;
  width: 40%;
  transition: 1.0s;
}

.purpleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height: 35%;
  background-color: rgb(51, 10, 10);
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 4%;
  padding-left: 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: -84%;
  transition: 1.0s;
}

.purpleText {
  font-size: 22px;
  line-height: 26px;
  color: white;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
  justify-content: center;
  transition: 1.0s;
  
}

.purpleBox img {
  left: 15%;
}

.ultimateImg {
  width: 50%;
  position: relative;
}

@media (max-width: 1450px) {

  .allText.allText.bottomText{
    padding-top: 3%;
    position: relative;
  }

  .text-blk.subHeadingText {
    line-height: 23px;
}

  .text-blk.headingText{
    line-height: 18px;
  }

}

@media (max-width: 1400px) {

.allText.bottomText{
  padding-top: 0%;
  position: relative;
}

.text-blk.subHeadingText {
  font-size: 13px;
  line-height: 23px;
}

.text-blk.description {
font-size: 15px; 

}

}

@media (max-width: 1280px) {
.purpleBox {
  height: 40%;
  top: 60%;
}

.purpleText {
font-size: 20px;
}

.text-blk.description {
font-size: 15px;
}
}

@media (max-width: 1185px) {

.stars{
  bottom: 45%;
  position: relative;
}

.text-blk.headingText{
  padding-left: 15%;
  padding-right: 15%;
}
}

@media (max-width: 1100px) {
.purpleText{
  font-size: 18px;
  padding-left: 0%;
  padding-right: 0%;
  
}
}

@media (max-width: 1075px) {
.purpleBox {
  margin-left: -15px;
}

.text-blk.description {
  font-size: 15px;  
}


}

@media (max-width: 1050px) {
.text-blk.headingText{
  padding-left: 15%;
  padding-right: 15%;

}

}


@media (max-width: 1035px) {
.text-blk.description{
  font-size: 15px; 
  margin-left: 11%; 
}
}

@media (max-width: 990px) {
.text-blk.headingText{
  padding-left: 0%;
  padding-right: 0%;
  
}

.text-blk.description{
  font-size: 15px; 
}

.purpleText{
  font-size: 15px;
}

}


@media (max-width: 935px) {

.text-blk.headingText{
  padding-left: 0%;
  padding-right: 0%;
}

.text-blk.description{
  font-size: 15px; 
  position: relative; 
}
}

@media (max-width: 900px) {
  .allText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
  }

  .text-blk.headingText {
    text-align: center;
  }

  .text-blk.subHeadingText {
    text-align: center;
    font-size: 24px;
  }

  .text-blk.description {
    text-align: center;
    font-size: 18px;
  }

  .allText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.aboveText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .allText.bottomText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .mainImg {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -70px;
    margin-left: 0px;
  }

  .responsive-container-block.Container.bottomContainer {
    flex-direction: column;
  }

  .ultimateImg {
    width: 100%;
  }

  .purpleText{
    font-size: 23px;
  }

  .allText.bottomText {
    width: 100%;
    align-items: flex-start;
    position: relative;
  }

  .text-blk.headingText {
    text-align: center;
    font-size: 23px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 2%;
    text-align: center;
  }

  .text-blk.subHeadingText {
    text-align: center;
    font-size: 17px;
    padding-top: 1%;
  }

  .text-blk.description {
    margin-left:5%;
    margin-top: 0%;
  }

  .ultimateImg {
    position: static;
  }

  .mainImg {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .ultimateImg {
    position: relative;
  }

  .purpleBox {
    max-width: 70%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 15%;
    height: 160px;
    padding-top: 4%;
    position: static;
  }

  .allText.bottomText {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10%;
    max-height: 25vh;
    position: relative;
  }

  .stars{
    max-width: 400px;
    position: relative;
    margin-top: 7%;
  }
 
}


@media (max-width: 610px) {
  
  .purpleText{
    font-size: 18px;
    padding-left: 0%;
    padding-right: 0%;
    position: relative;
    margin-top: 5%;
  }

  .stars{
    margin-top: 10%;
  }

  .text-blk.headingText{
    font-size: 18px;
  }

  .text-blk.subHeadingText{
    font-size: 15px;
    position: relative;
  }

 
}


@media (max-width: 550px) {
  
  .text-blk.description{
    margin-left: 8%;
  }
}



@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
  }

  .mainImg {
    width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .text-blk.subHeadingText {
    padding-top: 0;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 26px;
  }

  .text-blk.headingText{
    position: relative;
    padding-left: 0%;
    padding-right: 0%;
  }


  .allText.bottomText {
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 25px;
    height: 300px;
    position: relative;
  }

  .ultimateImg {
    position: static;
  }

  .purpleBox {
    position: static;
    height: 150px;
    padding-top: 7%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .purpleText {
    font-size: 19px;
    padding-left: 0%;
    padding-right: 0%;
    line-height: 22px;
    margin-top: 0%;
  }

  .stars{
    max-width: 2000px;
    position: relative;
  }
  
}
